/* Affichage de l'image de fond sur l'intégralité de la fenêtre */
.fondEcran {
	-fx-background-image: url("images/Background.png");
	-fx-background-size: 100% 100%;
}

/* Affichage d'un contour noir sur certains textes */
.contourNoir {
	-fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

/*
.boiteDialogue {
	-fx-background-color: #7AA95C;
	/* -fx-font-family: "Courier New"; 
} 
*/

.dialog-pane {
    -fx-background-color: 
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}