/* Affichage de l'image de fond sur l'intégralité de la fenêtre */
.fondEcran {
	-fx-background-image: url("images/Background.png");
	-fx-background-size: 100% 100%;
}

/* Affichage d'un contour noir sur certains textes */
.contourNoir {
	-fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

/* Background de l'alerte (partie basse) */
.alert {
    -fx-background-color: #82FA58;
    -fx-background-radius: 10px;
}

/* Background de l'alerte (partie haute) */
.alert .header-panel {
    -fx-background-color: #82FA58;
}

/* Texte de la partie haute de l'alerte */
.alert *.header-panel *.label {
	-fx-font-size: 20px;
	-fx-text-fill: #042940;
	-fx-font-weight: bold;
}

/* Texte de la partie basse de l'alerte */
.alert *.label {
    -fx-text-fill: #042940;
    -fx-font-size: 16px;
}

/* Bouton de l'alerte */
.alert .button-bar .button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
}

/* Bouton de l'alerte quand on hover */
.alert .button-bar .button:hover {
    -fx-background-color: #9b9b9b;
}